.terraform
vscode_remote_hex.txt

build
dist
*.egg-info
*.egg/
*.pyc
*.swp

.tox
.coverage
html/*

# Compiled Documentation
_build/
README.rst

env/
.venv/
venv/
.idea/

*.info
*.tfstate
*.backup
/.vs
.terraform
parameters.json
python/windows/**
python/reports/**
debug.log
vault-cluster-keys.json
vault_root_token.txt
vault/tests/root_token.txt

obj/
bin/
scripts/secrets/kubeconfig
kubeconfig
